@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  min-height: calc(100vh - 4rem - 224px);
}

.carousel-container {
  display: block;
  overflow: hidden;
  width: 100%;
}

.carousel-container .carousel-slide {
  display: flex;
  justify-content: center;
  height: 250px;
}

.carousel .slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
